{% autoescape off %}
Hello {{ user.username }},

You're receiving this email because you (or someone else) requested a password reset for your Chicago Garden Planner account.

If you requested this, please click the link below to reset your password:

{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

If clicking the link doesn't work, copy and paste the URL into your browser.

This link will expire in 24 hours for security reasons.

If you didn't request this password reset, you can safely ignore this email. Your password will remain unchanged.

Thanks for using Chicago Garden Planner!

---
Chicago Garden Planner - Optimized for USDA Zones 5b/6a
{% endautoescape %}
